/* Make the images and container full-screen */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
